/* shared style */
.btn{
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    color: white;
    border-radius: 10px;
    border-style: none;
}



.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* header style */
.header{
    background-image: url(../Assets/Hero-bg.png);
    max-width: 1440px;
    height: 698px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}
.nav-title{
    font-size: 34px;
    font-weight: bold;
    color: #4E47FF;


}
/* Banner style */
.banner-title{
    font-size: 65px;
    font-weight: bold;
    text-align: center;

    padding: 60px 250px 0px 250px;
   
    
    
}
.banner{
    
 text-align: center;
}
/* Main Section */
main{
    width: 1440px;
    margin: 0 ;
}                          
/* Action style */
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 105px 150px 0px 150px;
}

.action-heading{
    color: rgba(37, 36, 50, 1);
    font-size: 42px;
    font-weight: bold;
}
.action-description{
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
    width: 500px;
    
  
}
.action-heading, .action-description {
 margin:19px ;
margin-left: 0;}

.action-image img{
    border-radius: 48px;
    width: 403px;
}
